@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body {
  background: #E5E6F0;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto, sans-serif;
}
